# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


#vs project file
demo/ipch
demo/Debug
demo/Release
*.opensdf
*.sdf
*.tlog
*.obj
demo/minWeb/Debug
demo/minWeb/Release
